<div id="loginPage">
    <form (ngSubmit)="onSubmit()" [formGroup] = "login">
    <div class="title">LOGIN</div>
    <h2>Welcome to CRUD</h2>
    <p>Please sign-in to your account and start the adventure</p>
    <span class="loginErr">{{loginStatus}}</span>
    <input type="text" name="userName" class ="form-control a" formControlName="userName" placeholder="User Name"/>
    <span class="error" *ngIf="userName && userName.invalid && userName.touched">*Username required</span>
    <input type="password" name="password" class ="form-control a" formControlName="password" placeholder="Password"/>
    <span class="error" *ngIf="password && password.invalid && password.touched">*Password required</span>
    <div id="forgot">
        <div><input type="checkbox" name="newsletter" >&nbsp;Remember Me</div> 
        <a routerLink="/">Forgot Password?</a>
    </div><br>
        
    <button>Login</button>
    <div id="create">New to our platform?&nbsp;<a routerLink="/registration" style="text-decoration:none; color:#9155FD">Create an Account</a></div> <br>
    <div class="or">or</div>
    <div id="links">
        <a routerLink="" style="color: rgb(73, 124, 226);"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
        <a routerLink="" style="color: rgb(29, 161, 242);"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
        <a routerLink="" style="color: black;"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
        <a routerLink="" style="color: rgb(219, 68, 55);"><i class="fa fa-google fa-lg" aria-hidden="true"></i></a>
    </div>
</form>
</div>
