body{
    background-color: #F4F5F4;
}
form {
    height: 100%;
    border: 2px solid #f1f1f1;
    border-radius:6px;
    padding: 20px;
    background-color: white;
    margin: auto;
    margin-top:5vh;
    width: 35%;
    color:rgba(58, 53, 65, 0.87);
    box-shadow:0px 2px 10px 0px rgb(58 53 65 / 10%);
    font-family: Inter,sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,
                    "Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
form h2{
    margin:5px 0;
}
.b{
    width:3%;
    margin-right:5px;
    margin-top:18px;
}
.a{
    width: 100%;
    height:45px;
    padding: 7px;
    margin: 18px 0 0 0;
    display: inline-block;
    border: 1px solid aquamarine;
    border-radius: 5px;
    background: none;
    font-size: 18px;
    outline:none;
}
.a:hover{
    /* background-color: #ddd; */
    outline:none;
}
.a:focus{
    border:2px solid #9155FD;
}
.title{
    font-size:35px;
    font-weight:600;
    letter-spacing:3px;
    text-align:center;
    margin:10px 0px;
}
button{
    background-color: #9155FD;
    color: #ffffff;
    padding: 10px 20px;
    margin: 25px 0;
    border: none;
    border-radius:5px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 20px;
}
button:hover{
    background-color: #814b9b;
}
#create{
    text-align:center;
}
#links{
    display: flex;
    justify-content: center;
    margin-top:15px;
}
#links a{
    text-decoration:none;
    padding: 10px;
}
.or{
    display: flex;
    flex-direction: row;
}
.or:before, .or:after {
    content: "";
    flex: 1 1;
    border-top: thin solid #ccf2ff;
    margin: auto;
}
.error{
    color: #FF0001;
    font-size:15px;
} 
.loginErr{
    color: #FF0001;
    text-align: center;
    font-size:25px;
    display: block;
}